{% extends 'base.html' %}

{% block content %}

{% if next %}
<div class="row justify-content-center">
    <div class="col-8">
        <div class="alert alert-danger text-center" role="alert">
            <strong>Vous devez être connecté pour accéder à cette page !</strong>
        </div>
    </div>
</div>
{% endif %}

<div class="row justify-content-center">
    <div class="col-2">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <input name="connect_user" type="text"
                    class="form-control input-sm" placeholder="Utilisateur" />
            </div>
            <div class="form-group">
                <input name="connect_password" type="password"
                    class="form-control input-sm" placeholder="Mot de passe" />
            </div>
            <div class="text-center">
                <button name="btnConnexion" type="submit"
                    class="btn btn-outline-primary">
                    Connexion
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
