{% extends 'base.html' %}

{% block content %}

{% if error %}
<div class="alert alert-danger alert-dismissable fade show" role="alert">
    {{ error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<p>
    Voici votre profil utilisateur, l'endroit où vous pourrez à terme
    changer votre mot de passe.
</p>
<p>
    Vos groupes correspondent au groupe dans lesquels vous êtes placés.
    <br>
    Cela peut vous permettre d'accéder à des pages restreintes par exemple.
</p>

<div class="row no-gutters">

    <div class="col-6">
        <h2>Mes informations</h2>
        <div class="form-group row">
            <label for="staticId" class="col-4 col-form-label">Nom d'utilisateur</label>
            <div class="col">
                <input id="staticId" type="text" readonly
                   class="form-control-plaintext"
                   value="{{ user.username }}">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-4 col-form-label">Email</label>
            <div class="col">
                <input id="staticEmail" type="text" readonly
                   class="form-control-plaintext"
                   value="{{ user.email }}">
            </div>
        </div>
        <div class="row">
            <span class="col-4 col-form-label">Mes groupes</span>
            <div class="col">
                {% if groups %}
                <ul class="list-group mr-5">
                    {% for grp in groups %}
                    <li class="list-group-item">{{ grp }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                Je ne fais partie d'aucun groupe... Snif !
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-6">
        <h2>Modifier mon mot de passe</h2>
        DN --> {{ user }}
        <form method="post">
            {% csrf_token %}
            <div class="form-group row">
                <label for="txtOldPassword" class="col-4 col-form-label">Ancien mot de passe</label>
                <div class="col">
                    <input id="txtOldPassword" name="txtOldPassword" type="password"
                       class="form-control" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <label for="txtNewPassword" class="col-4 col-form-label">Nouveau mot de passe</label>
                <div class="col">
                    <input id="txtNewPassword" name="txtNewPassword" type="password"
                       class="form-control" placeholder="Password">
                </div>
            </div>
            <div class="form-group row">
                <label for="txtNewPasswordBis" class="col-4 col-form-label">Nouveau mot de passe</label>
                <div class="col">
                    <input id="txtNewPasswordBis" name="txtNewPasswordBis" type="password"
                       class="form-control" placeholder="Password">
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col text-center">
                    <button name="btnChangePassword" class="btn btn-outline-primary">Changer le mot de passe</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
