{% extends 'base.html' %}
{% load static %}

{% block content %}

<p>
    Cette page permet de recenser plusieurs noms de domaines afin de
    les surveiller sur le long terme.
    <br>
    Pour chaque nom de domaine, on retrouve sa dernière IP connue,
    une petite description ainsi que des statistiques sur le mois
    en cours et le mois précédent.
</p>
<p>
    Chaque nom de domaine est interrogé de manière périodique (aux
    dernières nouvelles, toutes les cinq minutes).
    <br>
    Chaque succès ou
    échec est stocké en base de données afin de permettre le calcul
    d'un pourcentage de disponibilité.
    <br>
    Seule la dernière adresse IP
    connue est enregistrée dans la base de données.
</p>


{% if domain_list %}

<style>
.domain_table td:last-child button {
    background: none;
    border: none;
}
</style>

{% include 'ping_me/partials/edit_popup.html' %}
{% include 'ping_me/partials/delete_popup.html' %}

<table class="table table-bordered domain_table">
    <thead>
        <tr>
            <th>Domaine</th>
            <th class="text-center">IP</th>
            <th>Description</th>
            <th class="text-center">{{ current_month|date:"F Y"|capfirst }}</th>
            <th class="text-center">{{ last_month|date:"F Y"|capfirst }}</th>
            {% if user.is_authenticated and user.is_staff %}
            <th class="text-center">Lié à</th>
            <th class="text-center">Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for domain in domain_list %}
        <tr>
            <td>
                {% if domain.last_ping and domain.last_ping.success %}
                <img
                    src="{% static 'icons/accept_button.png' %}"
                    alt="OK" title="Site en ligne"
                    class="icone-16">
                {% else %}
                <img
                    src="{% static 'icons/exclamation.png' %}"
                    alt="NOK" title="Site hors ligne"
                    class="icone-16">
                {% endif %}
                {{ domain.url }}
                <small>(<a href="http://{{ domain.url }}" target="_blank">voir le site</a>)</small>
            </td>
            <td class="text-center">
            {% if domain.last_ping %}
                {{ domain.last_ping.address }}
            {% else %}
                Aucune IP
            {% endif %}
            </td>
            <td>
                {{ domain.description }}
            </td>
            <td class="text-center">
                {% include 'ping_me/partials/summary_percentage.html' with summary=domain.current_month_summary %}
            </td>
            <td class="text-center">
                {% include 'ping_me/partials/summary_percentage.html' with summary=domain.last_month_summary %}
            </td>
            {% if user.is_authenticated and user.is_staff %}
            <td class="text-center">
                {% if domain.user.email %}
                <a href="mailto:{{ domain.user.email }}">{{ domain.user.email }}</a>
                {% else %}
                {{ domain.user.username }} (sans e-mail)
                {% endif %}
            </td>
            <td class="text-center">
                <button type="button" onclick="show_edit_popup({{ domain.id }})">
                    <img
                        src="{% static 'icons/pencil.png' %}"
                        alt="Éditer" title="Éditer"
                        class="icone-16">
                </button>
                <button type="button" onclick="show_delete_popup({{ domain.id }})">
                    <img
                        src="{% static 'icons/delete.png' %}"
                        alt="Supprimer" title="Supprimer ce domaine"
                        class="icone-16">
                </button>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

    <p>Vous n'avez encore aucun domaine enregistré.</p>

{% endif %}

{% if user.is_authenticated and user.is_staff %}
<div class="text-center">
    <a class="btn btn-primary" href="#" onclick="show_edit_popup(0);return false;">Ajouter un domaine</a>
</div>
{% endif %}

{% endblock %}
