{% load roadtrip_tags static %}
<!DOCTYPE html>
<html>

    <head>

        {% if view_title|length > 0 %}
        <title>aloha.im - {{ view_title }}</title>
        {% else %}
        <title>aloha.im</title>
        {% endif %}

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        {% block css_files %}{% endblock %}

        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        {% block javascript_files %}{% endblock %}

    </head>

    <body>

        {% block body %}

        <!-- Barre de navigation -->
        <nav class="navbar navbar-expand navbar-dark bg-dark">

            <a class="navbar-brand" href="/">
                <img src="{% static 'favicon.png' %}" width="24" height="24" alt="">
                aloha.im
            </a>

            <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Barre de menu -->
            <div id="navbarSupportedContent" class="collapse navbar-collapse">

                <ul class="navbar-nav mr-auto">

                    {% url 'blog:index' as blog_url %}
                    <li class="nav-item {% if blog_url in request.get_full_path %}active{% endif %}">
                        <a href="{{ blog_url }}" class="nav-link">Notes</a>
                    </li>

                    {% roadtrip_default_profile as roadtrip_profile %}
                    {% if roadtrip_profile %}
                    {% url 'roadtrip:index' as roadtrip_url %}
                    <li class="nav-item dropdown {% if roadtrip_url in request.get_full_path %}active{% endif %}">
                        <a id="navRoadtripsMenu" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Voyages
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navRoadtripsMenu">
                            {% for roadtrip in roadtrip_profile.roadtrips %}
                            <a class="dropdown-item" href="{% url 'roadtrip:roadtrip' roadtrip.slug %}">{{ roadtrip.title }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    {% endif %}
                    
                    <li class="nav-item dropdown">
                        <a id="navToolsMenu" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Outils
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navToolsMenu">
                            <a class="dropdown-item" href="{% url 'messaging:index' %}">Messages</a>
                            {% if user.is_authenticated and user.is_staff %}
                            <a class="dropdown-item" href="{% url 'ping_me:index' %}">Ping me!</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>

                {% if not user.is_authenticated %}

                <!-- Menu non connecté -->
                <div class="dropdown">
                    <a href="#" id="navbarUserDropdownMenuLink" class="nav-link text-light dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Se connecter
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-right-cheat"
                         aria-labelledby="navbarUserDropdownMenuLink">
                        <div class="px-3 py-2">
                            <form method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                                <div class="form-group">
                                    <input name="connect_user" type="text"
                                        class="form-control input-sm" placeholder="Utilisateur" />
                                </div>
                                <div class="form-group">
                                    <input name="connect_password" type="password"
                                        class="form-control input-sm" placeholder="Mot de passe" />
                                </div>
                                <div class="text-center">
                                    <button name="btnConnexion" type="submit"
                                        class="btn btn-outline-primary">
                                        Connexion
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                {% else %}

                <!-- Menu connecté -->
                <div class="dropdown">
                    <a href="#" id="navbarConnectionDropdownMenuLink" class="nav-link text-light dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.display_name }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right"
                         aria-labelledby="navbarConnectionDropdownMenuLink">

                        <a href="{% url 'aide' %}" class="dropdown-item">Aide</a>
                        <a href="{% url 'profil' %}" class="dropdown-item">Profil</a>
                        {% if user.is_staff %}
                        <a href="/admin" class="dropdown-item">Admin</a>
                        {% endif %}

                        <div class="dropdown-divider"></div>

                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.get_full_path }}">
                            <button name="btnDeconnexion"
                                type="submit"
                                class="dropdown-item">
                                Déconnexion
                            </button>
                        </form>
                    </div>
                </div>

                {% endif %}

            </div>
        </nav>

        <div class="mx-4">
            {% block title %}
            {% if view_title|length > 0 %}
            <!-- Titre de la page -->
            <div class="container-fluid my-4">
                <h1>{{ view_title }}</h1>
            </div>
            {% endif %}
            {% endblock %}

            <div class="container-fluid my-4">
                {% block content %}{% endblock %}
            </div>
        </div>

        {% endblock %}

        <footer class="container-fluid text-center">
            <hr class="border-dark">

            <div class="mb-4">
                <span class="p-2 border border-secondary rounded text-dark">
                    Powered by Thomas
                </span>
            </div>
        </footer>

    </body>

</html>
