{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-8">

        <div class="alert alert-danger text-center" role="alert">
            <h1 class="alarm-heading">L'erreur est humaine !</h1>
            <hr>
            <p>
                Une erreur est apparue pendant votre navigation !
                {% if message %}
                <br><strong>{{ message|safe }}</strong>
                {% endif %}
            </p>
            <button class="btn btn-outline-danger my-3" onclick="window.history.back()">
                Retour à la page précédente
            </button>
        </div>

    </div>
</div>


{% endblock %}