
html {
    /*font-size: 12px;*/
}

body {
    line-height: 1.5rem;
}

p, ul, ol {
    margin-bottom: 1rem;
}

/*--- HEADINGS ---*/
h1, h2, h3, h4, h5, h6 {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

h1 {
  font-size: 1.5rem; /* 24px --> 24 ÷ 16 = 1.5 */
  line-height: 1rem; /* 24px --> 24 ÷ 24 = 1 */
}

h2 {
  font-size: 1.4rem; /* 22px --> 22 ÷ 16 = 1.375 */
  line-height: 1.1rem; /* 24px --> 24 ÷ 22 = 1.090909(09) */
}

h3 {
  font-size: 1.3rem; /* 20px --> 20 ÷ 16 = 1.25 */
  line-height: 1.2rem; /* 24px --> 24 ÷ 20 = 1.2 */
}

h4 {
  font-size: 1.2rem; /* 18px --> 18 ÷ 16 = 1.125 */
  line-height: 1.3rem; /* 24px --> 24 ÷ 18 = 1.3333333(3) */
}

h5 {
  font-size: 1.1rem; /* 17px --> 17 ÷ 16 = 1 */
  line-height: 1.4rem; /* 24px --> 24 ÷ 16 = 1.5 */
}

h6 {
  font-size: 1rem; /* 16px --> 16 ÷ 16 = 1 */
  line-height: 1.5rem; /* 24px --> 24 ÷ 16 = 1.5 */
}

button {
    cursor: pointer;
}

/* @media screen and (min-width: 991px) { */
nav .dropdown-menu-right-cheat {
    min-width: 150px;
    margin-left: -52px;
}

.icone-16 {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.icone-32 {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}