{% extends 'messaging/base.html' %}

{% block title %}
<!-- Titre de la page -->
<div class="container-fluid my-4">
    <h1>
        {% if message %}
        Message <small>- {{ message.slug }}</small>
        {% else %}
        Nouveau message
        {% endif %}
    </h1>
</div>
{% endblock %}

{% block content %}

<div class="card">
    <form method="post" action="{{ request.path | urlencode }}">
        {% csrf_token %}
        <div class="card-body">
            <textarea name="txtMessage" class="form-control" rows="10">{% if message %}{{ message.message }}{% endif %}</textarea>

            {% if not message %}
            <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="chkIsEditable" name="chkIsEditable">
                <label class="form-check-label" for="chkIsEditable">Permettre l'édition</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="chkIsDeletable" name="chkIsDeletable">
                <label class="form-check-label" for="chkIsDeletable">Permettre la suppression</label>
            </div>
            {% endif %}
        </div>
        <div class="card-footer">
            <a href="{% url 'messaging:index' %}" class="btn btn-secondary">Retour</a>
            <button class="btn btn-primary float-right">Enregistrer</button>
        </div>
    </form>
</div>

{% endblock %}