{% extends 'messaging/base.html' %}

{% block title %}
<!-- Titre de la page -->
<div class="container-fluid my-4">
    <h1>Messagerie privée</h1>
</div>
{% endblock %}

{% block content %}

<p>
    Vous vous trouvez sur la page dédicacée aux messages privés.<br>
    <br>
    Le principe est peu orthodoxe puisqu'il s'agit de créer un message sans adresser de destinataire.<br>
    Quand le message est crée, le site vous indique un code à fournir au(x) destinataire(s) du message.<br>
    <br>
    Si une personne vous a transmis un code de message, vous pouvez le saisir ci-dessous et lire le précieux :-)<br>
    Vous pouvez aussi créer un <a href="{% url 'messaging:new-message' %}">nouveau message</a>.
</p>

{% if added_slug %}

<!-- Alert if we just add a new message -->
<div class="alert alert-success alert-dismissible" role="alert">
    <p class="mb-0">
        Le message a bien été enregistré :
        <a href="{% url 'messaging:message' added_slug %}" class='alert-link'>
            {{ request.META.HTTP_HOST }}{% url 'messaging:message' added_slug %}
        </a>.
        <br>
        N'oubliez pas de noter le lien ci-dessus pour le partager :-)
    </p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% endif %}

{% if unknown_slug %}

<!-- Alert if we just try to access an inexistent message -->
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    Le message demandé ({{ unknown_slug }}) n'existe pas.
    <button type="button" class="close" data-dismiss="alert" aria-label="Fermer">
        <span aria-hidden="true">&times</span>
    </button>
</div>

{% endif %}

<div class="row justify-content-md-center mt-4">
    <form method="post" class="form-row">
        {% csrf_token %}

        <div class="input-group input-group-lg">
            <input id="txtSlug" name="slug" class="form-control" type="text" maxlength="5" placeholder="Code du message">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Go</button>
            </div>
        </div>

    </form>
</div>

<script type="text/javascript">
$(function() {
  $("#txtSlug").focus();
});
</script>

{% endblock %}