{% extends 'messaging/base.html' %}
{% load static %}

{% block title %}
<!-- Titre de la page -->
<div class="container-fluid my-4">
    <h1>Message <small>- {{ message.slug }}</small></h1>
</div>
{% endblock %}

{% block content %}

<div class="card">
    <div class="card-body">
        <div id="message">
            {{ message.markdown|safe }}
        </div>
    </div>
    <div class="card-footer">
        <a href="{% url 'messaging:index' %}" class="btn btn-secondary">Retour</a>
        <div class="float-right">
            {% if message.is_editable %}
            <a
                href="{% url 'messaging:edit-message' message.slug %}"
                class="btn btn-secondary">
                Éditer
            </a>
            {% endif %}
            {% if message.is_deletable %}
            <a
                href="{% url 'messaging:delete-message' message.slug %}"
                class="btn btn-secondary">
                Supprimer
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}