<form method="post">
    {% csrf_token %}

    <div class="modal-header">
        <h5 class="modal-title">
            Supprimer un domaine
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Voulez-vous vraiment supprimer le domaine <b>{{ domain.url }}</b> ?</p>
    </div>
    <div class="modal-footer">
        <input type="hidden" id="hdnDomainId" name="hdnDomainId" value="{{ domain.id }}">
        <button class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button name="btnDeleteDomain" class="btn btn-primary">Valider</button>
    </div>

</form>